<?php
return array(
    'username' => 'username',
    'password' => 'password',
    'parcel-no' => 'parcel-no',
    'country' => 'EN',
    'language' => 'EN',
    'customer-no' => 'customer-no',
    'customer-ref-no' => 'customer-ref-no'
);